.logos {
  white-space: nowrap;
  position: relative;
  padding: .7rem 0 3.9rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.logos:before,
.logos:after {
  @apply absolute top-0 h-full w-[85px] md:w-[250px];
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, theme('colors.transparent'), theme('colors.light'));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, theme('colors.transparent'), theme('colors.light'));
}

.dark .logos:before  {
  left: 0;
  background: linear-gradient(to left, theme('colors.transparent'), theme('colors.dark'));
}
  
.dark .logos:after {
  right: 0;
  background: linear-gradient(to right, theme('colors.transparent'), theme('colors.dark'));
}

.logos-slide {
  animation: 35s slide infinite linear;
  display: inline-block;
}

.svg-size {
  width: 50px !important;
  height: 50px !important;
}

@media screen and (max-width: 480px) {
  .svg-size {
    width: 35px !important;
    height: 35px !important;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}