@import '../components/Sections/Presentation/index.css';
@import '../components/ArrowDown/index.css';
@import '../components/InfiniteCarousel/styles.css';
@import '../components/Tooltip/styles.css';
@import '../ui/Section/styles.css';
@import '../ui/Header/index.css';

@tailwind base;

html {
    font-family: var(--font-montserrat);
    scroll-behavior: smooth;
}

#header-logo {
    font-family: var(--font-roboto-mono);
}

body {
    background-color: rgb(var(--background-default));
}

.global-container {
    margin: auto 7vw;
}

@media screen and (min-width: 1280px) {
    .global-container {
        margin: auto 9vw;
    }
}

@media screen and (min-width: 1366px) {
    .global-container {
        margin: auto 12vw;
    }
}

@media screen and (min-width: 1920px) {
    .global-container {
        margin: auto 16vw;
    }
}

@tailwind components;
@tailwind utilities;
